$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

$light-color: #FDFDFD;
$light-accent: #ED4874;
$primary-color: #F0AB1B;
$dark-accent: #17BD48;
$dark-shade: #2C2739;

// Kanske använd lila istället, mer deras image
// Grön box med vit text är rätt snyggt

$text-color: #272c43;