$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

$light-color: #F4F7F3;
$light-accent: #E6A748;
$primary-color: #ADAFC4;
$dark-accent: #EF6495;
$dark-shade: #363F67;

$text-color: #272c43;