$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

$light-color: #F4F7F3;
$light-accent: #E6A748;
$primary-color: #ADAFC4;
$dark-accent: #EF6495;
$dark-shade: #363F67;

$text-color: #272c43;

// https://css-tricks.com/snippets/sass/sass-things-links/
$a-tags: "a, a:active, a:hover, a:visited";
$a-tags-hover: "a:active, a:hover";


body {
    font: 100% $font-stack;
    color: $text-color;
    background-color: $light-color;
}



#{$a-tags} {
    color: $dark-shade;
}
#{$a-tags-hover} {
    color: $light-accent;
}
        