@import "colors";
@import "generals";

// https://css-tricks.com/snippets/sass/sass-things-links/
$a-tags: "a, a:active, a:hover, a:visited";
$a-tags-hover: "a:active, a:hover";


body {
    width: 100%;
    margin: 0;
    font: 100% $font-stack;
    color: $light-color;
    background-color: $dark-shade;

    img {
        width: 100%;
        height: auto;
    }

    p {
        font-size: 1.2em;
    }
}
#container {
    margin-left: auto;
    margin-right: auto;
}

#main {
    h1 {
        text-align: center;
        font-size: 1.5em;
    }
    #slogan {
        text-align: center;
        text-transform: uppercase;
    }
    #bildspel {
        img {
            display: none;
        }
    }
}

#kontakt {
    form {
        label {
            margin-left: 5%;
        }
        input[type=text], input[type=email], input[type=tel], textarea {
            text-align: center;
            margin-left: 5%;
            margin-right: 5%;
            width: 90%;
        }
        input[type=submit] {
            width: 20%;
            margin-left: 40%;
            margin-right: 40%;
        }
    }
}

#video {
    iframe {
        width: 100%;
        height: auto;
    }
}

section {
    height: 100vh;
    padding-left: 2%;
    padding-right: 2%;
}

/*
section:nth-of-type(odd) {
    background-color: $light-color;
    color: black;
}
section:nth-of-type(even) {
    background-color: $dark-shade;
    color: white;
}*/
section:not(:first-of-type) {
    padding-top: 1%;
}

#{$a-tags} {
    color: $light-color;
}
#{$a-tags-hover} {
    color: $light-color;
}

#spelningar {
    .spelning {
        h3 {
            margin-bottom: 0.3em;
        }
        p {
            margin-top: 0;
        }
    }
}
        