@import "colors";

// https://css-tricks.com/snippets/sass/sass-things-links/
$a-tags: "a, a:active, a:hover, a:visited";
$a-tags-hover: "a:active, a:hover";


body {
    font: 100% $font-stack;
    color: $text-color;
    background-color: $light-color;
}

#{$a-tags} {
    color: $dark-shade;
}
#{$a-tags-hover} {
    color: $light-accent;
}
        